<!-- payment_history.html -->

{% extends 'base_nav.html' %} {% block maincontent %}
<h1 class="text-3xl font-bold mb-6">Purchased History</h1>
<div class="overflow-x-auto">
  <table class="table-auto border-collapse w-full">
    <thead>
      <tr>
        <th class="px-4 py-2">Product Name</th>
        <th class="px-4 py-2">Product Price</th>
        <th class="px-4 py-2">Purchased Date</th>
        <th class="px-4 py-2">Product Image</th>
      </tr>
    </thead>
    <tbody>
      {% for payment in payments %} {% for product in payment.products.all %}
      <tr>
        <td class="border px-4 py-2">{{ product.name }}</td>
        <td class="border px-4 py-2">{{ product.price }}</td>
        <td class="border px-4 py-2">{{ payment.created_at }}</td>
        <td class="border px-4 py-2">
          <img
            class="w-20 h-20 object-cover"
            src="{{ product.product_image.url }}"
            alt="{{ product.name }} image"
          />
        </td>
      </tr>
      {% endfor %} {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
