{% extends 'base_nav.html' %} {% block maincontent %}

<!--
  This component uses @tailwindcss/forms and @tailwindcss/typography

  yarn add @tailwindcss/forms @tailwindcss/typography
  npm install @tailwindcss/forms @tailwindcss/typography

  plugins: [require('@tailwindcss/forms'), require('@tailwindcss/typography')]

  @layer components {
    .no-spinner {
      -moz-appearance: textfield;
    }

    .no-spinner::-webkit-outer-spin-button,
    .no-spinner::-webkit-inner-spin-button {
      margin: 0;
      -webkit-appearance: none;
    }
  }
-->

<style>
  .hidden {
    display: none;
  }
</style>
<section>



  <div class="relative mx-auto max-w-screen-xl px-4 py-8">
    <div class="grid grid-cols-1 items-start gap-8 md:grid-cols-2 bg-white">
      <div class="grid grid-cols-2 gap-4 md:grid-cols-1 my-6">
        <div class="relative w-[400px] mx-auto">
          <div class="slide relative overflow-hidden rounded-md shadow-lg">
            <img class="w-full h-full object-cover" src="{{product.product_image.url}}" alt="{{product.name}}" />
            <div class="absolute bottom-0 left-0 w-full px-5 py-3 bg-gradient-to-t from-black to-transparent text-white">
              <h2 class="text-xl font-bold">{{product.name}}</h2>
            </div>
          </div>
        </div>
      </div>
      

      <div class="sticky top-0">
        <div class="mt-8">
          <div class="max-w-[35ch] space-y-2">
            <h1 class="text-xl font-bold sm:text-2xl">{{product.name}}</h1>
            <span class="text-xl">Conditon</span>
            <span class="text-bold">:</span>
            <span>{{product.condition}}</span>
            <p>{{product.user}}</p>

          </div>
        </div>

        <div class="mt-4">
          <div class="prose max-w-none">
            <p class="text-2xl text-orange-700 font-bold !important">
              Rs.{{product.price}}
            </p>
          </div>
        </div>

        <form class="mt-8">
          <div class="mt-8 flex gap-4">
            <div>
              <label for="quantity" class="sr-only">Qty</label>
              <div>
               
                <p>
                  {% if product.quantity == 0 %}
                    <p>The product is out of stock</p>
                    {% else %}
                    <p class="my-4">Quantity</p>
                    {{product.quantity}} available

                  {% endif %}

                </p>
                <div class="flex items-center gap-1 my-3">
                  <button
                    type="button"
                    class="h-10 w-10 leading-10 text-gray-600 transition hover:opacity-75 decrease-quantity"
                  >
                    &minus;
                  </button>

                  <input
                    type="number"
                    id="Quantity"
                    value="1"
                    min="{{product.quantity}}"
                    max="{{product.quantity}}"
                    class="h-10 w-24 rounded border-gray-200 sm:text-sm"
                    disabled
                  />

                  <button
                    type="button"
                    class="h-10 w-10 leading-10 text-gray-600 transition hover:opacity-75 increase-quantity"
                  >
                    &plus;
                  </button>
                </div>
              </div>
            </div>
          </div>
        </form>
        {% if product.quantity > 0 %}
        <div class="flex gap-2 mt-2 mb-6">
          <a href="{% url 'payment:checkout' product_id=product.id %}">
            <button
              type="submit"
              class="block rounded bg-orange-600 px-5 py-3 text-xs font-medium text-white hover:bg-orange-800"
            >
              Buy now
            </button>
          </a>
        </div>
        {% endif %}
      </div>
    </div>

    <div
      class="bg-white flex flex-col mx-auto justify-center content-center mt-6"
    >
      <div class="product-specification flex content-center mx-auto m-4">
        <div>
          <h2 class="text-lg">Description of {{product.name}}</h2>
        </div>
      </div>
      <div class="specifications flex justify-around p-8">
        {{product.description}}
      </div>
    </div>
    {% comment %} Recommended Product {% endcomment %}
    <h2 class="text-xl font-bold sm:text-2xl mt-8 mb-5">
      Recommended Products
    </h2>

    <div class="mt-6 grid grid-cols-1 gap-x-6 gap-y-10 sm:grid-cols-2 lg:grid-cols-4 xl:gap-x-8">
      {% for similar_product in similar_products %}
      <div class="group relative">
        <a href="{% url 'products:productdetail' pk=similar_product.pk %}">
          <div class="rounded-lg overflow-hidden shadow-lg">
            <div class="aspect-w-1 aspect-h-1 bg-gray-200">
              <img src="{{ similar_product.product_image.url }}" alt="{{ similar_product.name }}" class="object-cover">
            </div>
            <div class="p-4">
              <h3 class="text-lg font-semibold text-gray-900">{{ similar_product.name }}</h3>
              <p class="mt-2 text-sm text-gray-500">{{ similar_product.condition }}</p>
              <div class="flex justify-between items-center mt-4">
                <p class="text-lg font-medium text-gray-900">Rs {{ similar_product.price }}</p>
                <p class="text-sm font-medium text-gray-600">{{ accuracy }}</p>
              </div>
            </div>
          </div>
        </a>
      </div>
      {% endfor %}
    </div>
    
    <section class="bg-white">
      <div class="mx-auto max-w-screen-xl px-4 py-8 sm:px-6 lg:px-8">
        <h2 class="text-xl font-bold sm:text-2xl">Customer Reviews</h2>


        <div class="mt-8 grid grid-cols-1 gap-x-16 gap-y-12 lg:grid-cols-2">

{% for review in product.reviews.all %}
          <blockquote>
            <header class="sm:flex sm:items-center sm:gap-4">
              <img src="{{review.user.image.url}}" alt="userphoto" class="rounded-full h-8 w-8">
              <p>{{review.user}}</p>
            </header>

            <p class="mt-2 text-gray-700">
              {{review.content}}
            </p>

            <footer class="mt-4">
              <p class="text-xs text-gray-500">{{review.created_at}}</p>
            </footer>
          </blockquote>
          {% empty %}
    <p>No reviews yet.</p>
{% endfor %}
{% if has_payment %}
    <form method="POST" action="{% url 'products:productdetail' pk=product.pk %}">
        {% csrf_token %}
        {{ form.as_p }}
        <button
        type="submit"
        class="px-4 py-2 bg-blue-500 text-white rounded-md hover:bg-blue-600"
      >Submit Review </button>
    </form>
{% endif %}

        </div>

      </div>
    </section>

    {% comment %} Comment Section {% endcomment %}
    <div class="relative mx-auto max-w-screen-xl px-4 py-8 bg-white">
      <h3 class="font-bold">Comments</h3>
      {% if messages %}
    {% for message in messages %}
        <div class="p-4 mb-4 text-sm text-blue-800 rounded-lg bg-blue-50 dark:text-blue-400" role="alert">
            <span class="font-medium">
                {{ message }}
            </span>
        </div>
    {% endfor %}
{% endif %}

  {% if messages %}
  {% for message in messages %}
      <script>
          // Pass the message content to the showPopup function
          showPopup("{{ message }}");
      </script>
  {% endfor %}
{% endif %}
      <div class="flex flex-col">
        {% if product.comments.all %} {% for comment in product.comments.all %}
        <div class="border rounded-md p-3 ml-3 my-3">
          <div class="flex gap-4">
            <div class="flex gap-3 items-center">
              <img
                src="{{ comment.user.image.url }}"
                class="object-cover w-8 h-8 rounded-full border-2 border-emerald-400 shadow-emerald-400"
              />
              <h3 class="font-bold">{{ comment.user.get_full_name }}</h3>
            </div>
            <div class="date">{{ comment.created_at|date:"F d, Y" }}</div>
          </div>
          <p class="text-gray-600 mt-2 comment-content">
            {{ comment.content }}
          </p>

          {% if request.user == comment.user %}

          <form
            method="post"
            action="{% url 'products:delete_comment' comment_id=comment.id%}"
          >
            {% csrf_token %}
            <button type="submit"  >Delete</button>
          </form>
          {% endif %}
        </div>
        {% endfor %} {% else %}
        <h3>No comments yet</h3>
        {% endif %}
      </div>

      <div class="add-comment">
        <h2 class="text-2xl font-bold mb-4">Add a Comment</h2>
        <form method="POST" action="">
          {% csrf_token %}
          <div class="mb-4">
            {{ comment_form.content.label_tag }} {{ comment_form.content }}
          </div>
          {{ comment_form.product_id }}
          <button
            type="submit"
            class="px-4 py-2 bg-blue-500 text-white rounded-md hover:bg-blue-600"
          >
            Submit
          </button>
        </form>
      </div>
    </div>
  </div>
</section>

<!-- Javascript code -->

<script>
  const askBtn = document.getElementById("ask-btn");

  // set the default active slide to the first one
  let slideIndex = 1;
  showSlide(slideIndex);

  // change slide with the prev/next button
  function moveSlide(moveStep) {
    showSlide((slideIndex += moveStep));
  }

  // change slide with the dots
  function currentSlide(n) {
    showSlide((slideIndex = n));
  }

  function showSlide(n) {
    let i;
    const slides = document.getElementsByClassName("slide");
    const dots = document.getElementsByClassName("dot");

    if (n > slides.length) {
      slideIndex = 1;
    }
    if (n < 1) {
      slideIndex = slides.length;
    }

    // hide all slidesFaceted Search:


    for (i = 0; i < slides.length; i++) {
      slides[i].classList.add("hidden");
    }

    // remove active status from all dots
    for (i = 0; i < dots.length; i++) {
      dots[i].classList.remove("bg-yellow-500");
      dots[i].classList.add("bg-green-600");
    }

    // show the active slide
    slides[slideIndex - 1].classList.remove("hidden");

    // highlight the active dot
    dots[slideIndex - 1].classList.remove("bg-green-600");
    dots[slideIndex - 1].classList.add("bg-yellow-500");
  }

  document.addEventListener("DOMContentLoaded", function () {
    const quantityInput = document.getElementById("Quantity");
    const decreaseButton = document.querySelector(".decrease-quantity");
    const increaseButton = document.querySelector(".increase-quantity");

    decreaseButton.addEventListener("click", function () {
      if (quantityInput.value > 1) {
        quantityInput.value = parseInt(quantityInput.value) - 1;
      }
    });

    increaseButton.addEventListener("click", function () {
      quantityInput.value = parseInt(quantityInput.value) + 1;
    });
  });
      // Function to show the popup
      function showPopup(message) {
        const popup = document.getElementById("popup");
        const popupMessage = document.getElementById("popup-message");

        popupMessage.innerText = message;
        popup.classList.remove("hidden");

        // Hide the popup after 3 seconds (adjust the time as needed)
        setTimeout(function () {
            popup.classList.add("hidden");
        }, 3000);
    }
</script>
{% endblock maincontent %}
