{% extends 'base_site.html' %} {% block maincontent %}
<h2>Category: {{ category.name }}</h2>
<div class="bg-white">
  <div
    class="mx-auto max-w-2xl px-4 py-16 sm:px-6 sm:py-24 lg:max-w-7xl lg:px-8"
  >
    <div
      class="mt-6 grid grid-cols-1 gap-x-6 gap-y-10 sm:grid-cols-2 lg:grid-cols-4 xl:gap-x-8"
    >
      {% if products %} {% for product in products %}
      <div class="group relative m-4">
        <a href="{% url 'products:productdetail' pk=product.pk %}">
          <div
            class="min-h-80 aspect-h-1 aspect-w-1 w-full overflow-hidden rounded-md bg-gray-200 lg:aspect-none group-hover:opacity-75 lg:h-180"
          >
            <img
              src="{{product.product_image.url}}"
              alt="Front of men&#039;s Basic Tee in black."
              class="h-auto w-full object-full object-center lg:h-full lg:w-full"
            />
          </div>
          <div class="mt-4 flex justify-between">
            <div>
              <h3 class="text-sm text-gray-700">
                <a href="{% url 'products:productdetail' pk=product.pk %}">
                  <span aria-hidden="true" class="absolute inset-0"></span>
                  {{product.name}}
                </a>
              </h3>
              <p class="mt-1 text-sm text-gray-500">{{product.condition }}</p>
            </div>
            <p class="text-sm font-medium text-gray-900">
              Rs {{product.price}}
            </p>
          </div>
        </a>
      </div>

      {% endfor %} {% else %} {% if search_term %}
      <p>No products found for your search term: {{ search_term }}</p>
      {% else %}
      <p>No products available.</p>
      {% endif %} {% endif %}
    </div>
  </div>
</div>
{% endblock maincontent %}
