{% extends "base_site.html" %} 

{% block maincontent %}
<div class="container mx-auto py-6">
  <h1 class="text-2xl font-bold mb-4">Filtered Products</h1>

  <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-8">
    {% for product in products %}
    <div class="group relative overflow-hidden rounded-lg shadow-md hover:shadow-lg">
      <a href="{% url 'products:productdetail' pk=product.pk %}">
        <div class="aspect-w-1 aspect-h-1 bg-gray-200">
          <img src="{{ product.product_image.url }}" alt="{{ product.name }}" class="object-cover h-full w-full">
        </div>
        <div class="p-4">
          <h3 class="text-lg font-semibold text-gray-900 mb-2 truncate">{{ product.name }}</h3>
          <p class="text-sm text-gray-700 mb-4">{{ product.condition }}</p>
          <p class="text-lg font-medium text-gray-900">Rs {{ product.price }}</p>
        </div>
      </a>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}
