{% extends 'admin_sidebar.html' %}

{% block maincontent %}

<div class="bg-white rounded-md shadow-lg p-6 mx-auto max-w-7xl">
    <h1>Conditions</h1>
    <a href="{%url 'thriftAdmin:addcategory'%}">Add Category</a>

    <div class="flex-grow py-8 px-10">
        <h1 class="text-2xl font-semibold mb-6">User List</h1>
        <div class="overflow-x-auto">
            <table class="table-auto w-full">
                <thead>
                    <tr>
                        <th class="px-4 py-3 text-left bg-gray-100">Category id</th>
                        <th class="px-4 py-3 text-left bg-gray-100">Name</th>
                        <th class="px-4 py-3 text-left bg-gray-100">Created at</th>
                        <th class="px-4 py-3 text-left bg-gray-100">Updated at</th>  
                        <th class="px-4 py-3 text-left bg-gray-100">Edit/Delete</th>  

                                              
                    </tr>
                </thead>
                <tbody>
                    {% for category in categories %}
                    <tr class="transition duration-200 ease-in-out hover:bg-gray-50 transform hover:-translate-y-1 hover:scale-105 hover:shadow-md cursor-pointer">
                        <td class="border-t px-4 py-3">{{ category.id }}</td>
                        <td class="border-t px-4 py-3">{{ category.name }}</td>
                        <td class="border-t px-4 py-3">{{ category.created_at }}</td>
                        <td class="border-t px-4 py-3">{{ category.updated_at }}</td>

                        <td class="border-t px-4 py-3 flex gap-4">
                            <a href="{% url 'thriftAdmin:deletecategory' pk=category.pk%}"><button class="block rounded-md bg-red-600 px-5 py-2.5 text-sm font-medium text-white transition hover:bg-red-700">Delete</button></a>
                            <a href="{% url 'thriftAdmin:editcategory' pk=category.pk%}"><button class="block rounded-md bg-blue-600 px-5 py-2.5 text-sm font-medium text-white transition hover:bg-blue-700">Update</button></a>

                        </td>


                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
</div>

{% endblock maincontent %}