{% extends 'admin_sidebar.html' %}

{% block maincontent %}

<div class="bg-white rounded-md shadow-lg p-6 mx-auto max-w-7xl">
    <h1>Conditions</h1>

    <div class="flex-grow py-8 px-10">
        <h1 class="text-2xl font-semibold mb-6">User List</h1>
        <div class="overflow-x-auto">
            <table class="table-auto w-full">
                <thead>
                    <tr>
                        <th class="px-4 py-3 text-left bg-gray-100">Condition id</th>
                        <th class="px-4 py-3 text-left bg-gray-100">Name</th>
                        <th class="px-4 py-3 text-left bg-gray-100">Created at</th>
                        <th class="px-4 py-3 text-left bg-gray-100">Updated at</th>  
                        <th class="px-4 py-3 text-left bg-gray-100">Edit/Delete</th>  

                                              
                    </tr>
                </thead>
                <tbody>
                    {% for condition in conditions %}
                    <tr class="transition duration-200 ease-in-out hover:bg-gray-50 transform hover:-translate-y-1 hover:scale-105 hover:shadow-md cursor-pointer">
                        <td class="border-t px-4 py-3">{{ condition.id }}</td>
                        <td class="border-t px-4 py-3">{{ condition.name }}</td>
                        <td class="border-t px-4 py-3">{{ condition.created_at }}</td>
                        <td class="border-t px-4 py-3">{{ condition.updated_at }}</td>

                        <td class="border-t px-4 py-3">
                            <a href="">Delete</a>
                            <a href="">Update</a>

                        </td>


                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
</div>

{% endblock maincontent %}